.logo{
    height: 25px;
}

.logoMedio{
    width: 8%;
}

.logoSecuritru{
    height: 40px;
}

.logoTarjetas {
    height: 30px;
    margin-left: 15px;
}

.anchos {
    width: 100%;
    height: 100%;
}