<div id="content-wrapper" class="contents">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div id="content-header" class="clearfix">
            <div class="pull-left">
              <ol class="breadcrumb">
                <li><a [routerLink]="['/dashboard/home']">Home</a></li>
                <li class="active"><span>Cobros</span></li>
              </ol>
              <h1>Cobros</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-end">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <a class="thumbnail mouse">
                  <img class="logoPagos" (click)="openHerramientaCobro('email', false)" src="./assets/imagenes/emailCobro.png">
                </a>
                <p>{{ idiomas.dashboard.email }}</p>
              </div>
              <div class="col-xs-3 col-md-3">
                <a class="thumbnail mouse">
                  <img class="logoPagos" (click)="openHerramientaCobro('link', false)" src="./assets/imagenes/ling.png">
                </a>
                <p>{{ idiomas.dashboard.link }}</p>
              </div>
              <div class="col-xs-3 col-md-3">
                <a class="thumbnail mouse">
                  <img class="logoPagos" (click)="openHerramientaCobro('botton', false)" src="./assets/imagenes/btnpagar.png">
                </a>
                <p>{{ idiomas.dashboard.bottonPago }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <table class="table" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()">
          <thead>
            <tr>
              <th *ngFor="let headers of table.header" scope="col">{{ headers }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of table.dataRow">
              <th>
                <a class="mouse" (click)="openHerramientaCobro( false, row )">{{ row.referenceCodigo }}</a>
              </th>
              <td>
                <span *ngIf="row.tipo == 0">Email de Cobro</span>
                <span *ngIf="row.tipo == 1">Link de Cobro</span>
                <span *ngIf="row.tipo == 2">Boton de Cobro</span>
              </td>
              <td>{{ row.descripcion | slice: 0: 100 }}</td>
              <td> <img style="height: 20px;" [src]="row.medioPago || './assets/imagenes/visa.png'"> </td>
              <td>{{ row.precio }}</td>
              <td>{{ row.moneda || 'Cop' }}</td>
              <td>
                <span *ngIf="row.estado == 0">
                  Activo
                </span>
                <span *ngIf="row.estado == 1">
                  Pagado
                </span>
                <span *ngIf="row.estado == 2">
                  Cancelado
                </span>
                <span *ngIf="row.estado == 3">
                  Rechazado
                </span>
                <span *ngIf="row.estado == 4">
                  Fondos insuficiente
                </span>
                <span *ngIf="row.estado == 5">
                  Eliminado
                </span>
              </td>
              <td>
                <span *ngIf="row.prueba">PRUEBA</span>
                <span *ngIf="!row.prueba">PRODUCCIÓN</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
          [fullScreen]="false">
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>