<div id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active"><span>Dashboard</span></li>
                            </ol>
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mat-elevation-z4">

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row paddingAlto">
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <img class="fotoInit img-circle" [src]=" dataUser.foto || './assets/imagenes/perfil.png'">
                        </div>
                        <div class="col-sm-9 col-md-9 col-xs-9">
                            <span>
                                <h4>¡Hola {{ dataUser.nombre }}!</h4>
                                <p>{{ dataUser.validad || 'Cuenta no validad' }}</p>
                                <p>{{ idiomas.dashboard.tipoCuenta }}: {{ dataUser.rol.nombre }} </p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>{{ idiomas.dashboard.herramienCobro }}</h5>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-3 col-md-3">
                                    <a class="thumbnail mouse">
                                        <img class="logoPagos" (click)="openHerramientaCobro('email')" src="./assets/imagenes/emailCobro.png">
                                    </a>
                                    <p>{{ idiomas.dashboard.email }}</p>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a class="thumbnail mouse">
                                        <img class="logoPagos" (click)="openHerramientaCobro('link')" src="./assets/imagenes/ling.png">
                                    </a>
                                    <p>{{ idiomas.dashboard.link }}</p>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a class="thumbnail mouse">
                                        <img class="logoPagos" (click)="openHerramientaCobro('botton')" src="./assets/imagenes/btnpagar.png">
                                    </a>
                                    <p>{{ idiomas.dashboard.bottonPago }}</p>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <a class="mouse">Ver más herramientas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 paddingPagos">
                    <br><br>
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            <p>{{ idiomas.dashboard.saldoDisponible }}</p>
                            <h4>{{ info.saldoDisponible || '$ 0.00 COP' }}</h4>
                            <a class="mouse">{{ idiomas.dashboard.verDetalles }}</a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <p>{{ idiomas.dashboard.TransaccionAprobadas }}</p>
                            <h4>{{ info.transaccionAprobadas || '$ 0.00 COP' }}</h4>
                            <a class="mouse">{{ idiomas.dashboard.verDetalles }}</a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <p>{{ idiomas.dashboard.TransaccionPendiente }}</p>
                            <h4>{{ info.transaccionPendiente || '$ 0.00 COP' }}</h4>
                            <a class="mouse">{{ idiomas.dashboard.verDetalles }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 paddingPagos">
                    <div class="panel panel-default">
                        <div class="panel-heading"> <h4 class="text-primary">{{ idiomas.dashboard.ultimasTransacciones }}</h4></div>
                      
                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                  <th *ngFor="let headers of table.header" scope="col">{{ headers }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of table.dataRow">
                                  <th>{{ row.refPago }}</th>
                                  <td>{{ row.refCliente }}</td>
                                  <td>{{ row.descripcion }}</td>
                                  <td> <img style="    height: 20px;" [src]="row.medioPago"> </td>
                                  <td>{{ row.valor }}</td>
                                  <td>{{ row.moneda }}</td>
                                  <td>{{ row.estado }}</td>
                                  <td>{{ row.test }}</td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>